<div id="bbcode" style="display: none;">
  [fimg=left]{{ character.avatar.url }}[/fimg]
[center][color=#daa520][size=6][font='times new roman', times, serif][b]{{ character.name }}[/b][/font][/size][/color][/center]

[justify][size=5][color=#daa520][font=verdana]Rango en el Bando:[/font][/color][/size] Líder

[font=verdana, geneva, sans-serif][size=5][color=#daa520]Patronus:[/color][/size][/font] Tiene la forma de un tigre de bengala blanco: su espíritu animal, su forma animaga.. Aunque suele mostrarse en cualquier tamaño, generalmente es visto como un tigre enorme.

[font=verdana, geneva, sans-serif][size=5][color=#daa520]Varita Mágica:[/color][/size][/font] La varita que utiliza actualmente es de madera de Fresno, núcleo de pluma de fénix, treinta y dos centímetros, rígida.

[font=verdana, geneva, sans-serif][size=5][color=#daa520]Empleo en la CMI:[/color][/size][/font] Líder del Simposio de Ladrones, Presidente del MACUSA y espía.

[font=verdana, geneva, sans-serif][size=5][color=#daa520]Características del Personaje:[/color][/size][/font] Originalmente sus ojos eran totalmente negros. Actualmente se muestran blancos la mayor parte del tiempo, e inclusive paren brillar cuando el sol del medio día los golpea directamente. El cabello, que nunca se deja peinar y su color es idéntico al de la noche, le cubre totalmente las orejas y en ocasiones los ojos. La piel le pinta canela. Suele vestir con chaquetas oscuras que se cierran en la parte delantera, la tela tiene estampados que representan a los espíritus de su tribu. Suele ser bastante confiado pese a todos los problemas que eso le ha causado. Es un soñador y cree fieramente en la bondad de las personas. Según su pensar, incluso las más perversas pueden ser rescatas de la oscuridad. Le gusta hacer amigos, piensa que mientras más lazos teja durante su vida más poderoso será su espíritu animal.[/justify]


[center][b][size=6][font='times new roman', times, serif][color=#daa520]LOGROS[/color][/font][/size][/b][/center]

[color=#daa520][font='times new roman', times, serif][b]MEDALLAS POR LOGROS DE ROL[/b][/font][/color]

[timg=Cronista novato]https://i.imgur.com/hWOoHXS.png[/timg][timg=Escritor aficionado]https://i.imgur.com/BgEdqAM.png[/timg][timg=Narrador experimentado]https://i.imgur.com/gPYQpyH.png[/timg][timg=Historiador intrépido]https://i.imgur.com/1q85KBC.png[/timg][timg=Máster de aventuras]https://i.imgur.com/abMQVEL.png[/timg]
[i]Sin logros[/i]
Puntos: 0


[color=#daa520][font='times new roman', times, serif][b]MEDALLAS POR LOGROS DE DUELO Y BATALLA[/b][/font][/color]

[timg=Aprendiz de duelista]https://i.imgur.com/bq4wi0h.png[/timg][timg=Segundo]https://i.imgur.com/XlgzTNU.png[/timg][timg=Desarmador]https://i.imgur.com/3bVfMbZ.png[/timg][timg=Retador]https://i.imgur.com/IHMiLEU.png[/timg][timg=Duelista supremo]https://i.imgur.com/FW7Bx9U.png[/timg]
[i]Sin logros[/i]
Puntos: 0


[color=#daa520][font='times new roman', times, serif][b]MEDALLAS POR LOGROS LOGROS SOCIALES[/b][/font][/color]

[timg=Recién llegado]https://i.imgur.com/zs1kZv4.png[/timg][timg=Mago sociable]https://i.imgur.com/BaPj8V5.png[/timg][timg=Extrovertido]https://i.imgur.com/fMQ95O3.png[/timg][timg=Amigo de todos]https://i.imgur.com/Dagiexw.png[/timg][timg=Personaje célebre]https://i.imgur.com/RISR6j5.png[/timg]
[i]Sin logros[/i]
Puntos: 0


[color=#daa520][font='times new roman', times, serif][b]MEDALLAS POR LOGROS DE IMAGEN Y DISEÑO[/b][/font][/color]

[timg=Atento a los detalles]https://i.imgur.com/q3GuG52.png[/timg][timg=Artista principante]https://i.imgur.com/VI6DiAM.png[/timg][timg=Creatividad desatada]https://i.imgur.com/jCVc1y8.png[/timg][timg=Representante fenixiano]https://i.imgur.com/c3VMdz9.png[timg=Influencer mágico]https://i.imgur.com/kOhIRJY.png[/timg]
[i]Sin logros[/i]
Puntos: 0


[color=#daa520][font='times new roman', times, serif][b]LOGROS TOTALES: [size=6][color=#daa520]0[/color][/size] PUNTOS[/b][/font][/color]

</div>