{% load characters %}
<textarea id="bbcode" style="display: none;">
  [fimg=left]{{ request.scheme }}://{{ request.get_host }}{{ character.avatar.url }}[/fimg]
[center][color=#daa520][size=6][font='times new roman', times, serif][b]{{ character.name }}[/b][/font][/size][/color][/center]


[justify][size=5][color=#daa520][font=verdana]Rango en el Bando:[/font][/color][/size] {{ character.get_range_display }}

[font=verdana, geneva, sans-serif][size=5][color=#daa520]Patronus:[/color][/size][/font] {{ character.patronus|safe }}

[font=verdana, geneva, sans-serif][size=5][color=#daa520]Varita Mágica:[/color][/size][/font] {{ character.wand|safe }}

[font=verdana, geneva, sans-serif][size=5][color=#daa520]Empleo en la CMI:[/color][/size][/font] {{ character.job|safe }}

[font=verdana, geneva, sans-serif][size=5][color=#daa520]Características del Personaje:[/color][/size][/font] {{ character.characteristics|safe }}[/justify]



[center][b][size=6][font='times new roman', times, serif][color=#daa520]LOGROS[/color][/font][/size][/b][/center]

{% for key, values in achievements.items %}
  [color=#daa520][font='times new roman', times, serif][b]MEDALLAS POR {{ key|upper}}[/b][/font][/color]


  {% for achievement in values %}{% icon_bbcode character achievement as selected_icon_bbcode %}[timg={{ achievement.name }}]{{ request.scheme }}://{{ request.get_host }}{{ selected_icon_bbcode.url }}[/timg]{% endfor %}
  Puntos: {% road_point character key as points %} {{points}}



{% endfor %}

[color=#daa520][font='times new roman', times, serif][b]LOGROS TOTALES: [size=6][color=#daa520]{{ character.get_all_points }}[/color][/size] PUNTOS[/b][/font][/color]

</textarea>
<script>
        const bbcode = document.getElementById("bbcode")
        const bbcode_copy = document.getElementById("bbcode_copy")
        bbcode_copy.addEventListener("click", event => {
          event.preventDefault()
          let content = bbcode.value
          content = content.replace("<p>", "")
          content = content.replace("</p>", "")
          content = content.replace('<p style="text-align:justify">', "")
          bbcode.value = content
          console.log(bbcode.value)
          bbcode.style.display = "block";
          bbcode.select();
          bbcode.setSelectionRange(0, 99999); /*For mobile devices*/
          document.execCommand("copy");
          bbcode.style.display = "none";
        })
      </script>