{% extends 'base.html' %}
{% load static %}
{% load characters %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css %}

{% block title %}
{{ block.super }} - {{ character.name }}
{% endblock %}

{% block content %}
<br>
<div class="card">
  <div class="card-body">
    <div class="row m-3">
      <div class="col-12 col-lg-2">
        <div class="row">
          <div class="col-12 col-lg-12">
            <h6 style="color:#00b1b1;">{{ character.name }}</h6>
          </div>
          <div class="col-auto col-lg-12">
            <img src="{{ character.avatar.url }}" class="img-thumbnail" id="profile-image1" alt="Imagen de Perfil">
          </div>
          <div class="col col-lg-12">
            <div class="row">
              <div class="col-12 col-lg-4">
                <a href="{{ character.character_card }}" target="_blank" title="Ficha de Personaje">
                  <img src="{% static 'images/ficha.png' %}" alt="">
                </a>
              </div>
              <div class="col-12 col-lg-4">
                <a href="{{ character.vault }}" target="_blank" title="Bóveda">
                  <img src="{% static 'images/boveda.png' %}" alt="">
                </a>
              </div>
              <div class="col-12 col-lg-4">
                <a href="{{ character.storage_vault }}" target="_blank" title="Bóveda Trastero">
                  <img src="{% static 'images/trastero.png' %}" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-10">
        <div class="row">
          <div class="col">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="true">Orden del Fénix</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile"
                   aria-selected="false">Información General</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                   aria-controls="contact"
                   aria-selected="false">Información Adicional</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <hr>
                <div class="row">
                  <div class="col-12 col-lg-2 font-weight-bold">Rango en el Bando</div>
                  <div class="col-12 col-lg-10">{{ character.get_range_display }}</div>
                </div>
                <hr class="my-4">
                <div class="row">
                  <div class="col-12 col-lg-2 font-weight-bold">Patronus</div>
                  <div class="col-12 col-lg-10">{% autoescape off %}{{ character.patronus }}{% endautoescape %}</div>
                </div>
                <hr class="my-4">
                <div class="row">
                  <div class="col-12 col-lg-2 font-weight-bold">Varita Mágica</div>
                  <div class="col-12 col-lg-10">{% autoescape off %}{{ character.wand }}{% endautoescape %}</div>
                </div>
                <hr class="my-4">
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <hr>
                <div class="row">
                  <div class="col-12 col-lg-2 font-weight-bold">Nombre del Personaje</div>
                  <div class="col-12 col-lg-10">
                    {{ character.name }}
                  </div>
                </div>
                <hr class="my-4">
                <div class="row">
                  <div class="col-12 col-lg-2 font-weight-bold">Características del Personaje</div>
                  <div class="col-12 col-lg-10">{% autoescape off %}{{ character.characteristics }}{% endautoescape %}
                  </div>
                </div>
                <hr class="my-4">
                <div class="row">
                  <div class="col-12 col-lg-2 font-weight-bold">Empleo en el CMI</div>
                  <div class="col-12 col-lg-10">{% autoescape off %}{{ character.job }}{% endautoescape %}</div>
                </div>
                <hr class="my-4">
              </div>
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <hr>
                <div class="row">
                  <div class="col-12 col-lg-2 font-weight-bold">Nick</div>
                  <div class="col-12 col-lg-10">{{ character.nick }}</div>
                </div>
                <hr class="my-4">
                <div class="row">
                  <div class="col-12 col-lg-2 font-weight-bold">Nombre del usuario</div>
                  <div class="col-12 col-lg-10">{{ character.user }}</div>
                </div>
                <hr class="my-4">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3 class="text-center">Logros del Usuario <i class="fas fa-copy" style="cursor: pointer;" id="bbcode_copy"></i></h3>
        <hr>
        {% for key, values in achievements.items %}
          <div class="col-12 mb-4">
            <h4 class="text-center">{{ key }}</h4>
              <div class="row">
                {% for achievement in values %}
                <div class="col-4 text-center">
                  {% icon character achievement as selected_icon %}
                  <img src="{{ achievement.icon_principal.url }}" class="rounded" style="{{ selected_icon.css }}" title="{{ selected_icon.legend }}" alt="{{ achievement.name }}">
                  <p>
                    <i>{{ achievement.name }}</i> <br />
                    Al acumular {{ achievement.points }} puntos
                  </p>
                </div>
              {% endfor %}
              </div>
          </div>
        {% endfor %}

      </div>
    </div>
    {% if request.user.is_staff %}
    <div class="row">
      <div class="col-12">
        <a href="{% url 'Character:update' character.slug %}" class="btn btn-primary mt-5 w-100">Editar</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% include "characters/bbcode.html" %}
{% endblock content %}


{% block app_breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'Character:list' %}">Personajes</a></li>
{% endblock %}
{% block detail_breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">{{ character.nick }}</li>
{% endblock %}