{% extends 'base.html' %}

{% block content %}
<div class="row m-4 pt-4">
  <div class="col-sm-12 col-md-2">
    <div class="nav nav-pills flex-sm-row flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      {% include 'characters/nav-tab-item.html' with menu='lideres' name='Lider y LTs' status='active' %}
      {% include 'characters/nav-tab-item.html' with menu='hunters' name='Demon Hunters' %}
      {% include 'characters/nav-tab-item.html' with menu='knights' name='Knights' %}
      {% include 'characters/nav-tab-item.html' with menu='templarios' name='Templarios' %}
      {% include 'characters/nav-tab-item.html' with menu='legionarios' name='Legionarios' %}
      {% include 'characters/nav-tab-item.html' with menu='inities' name='Inities' %}
    </div>
    {% if request.user.is_staff %}
    <a href="{% url 'Character:create' %}" class="btn btn-primary mt-4 w-100">Nuevo</a>
    {% endif %}

  </div>
  <div class="col-sm-12 col-md-10">
    <div class="tab-content" id="v-pills-tabContent">
      {% include 'characters/tab-item.html' with characters=lideres tab='lideres' status='active' %}
      {% include 'characters/tab-item.html' with characters=demonhunters tab='hunters' %}
      {% include 'characters/tab-item.html' with characters=knights tab='knights' %}
      {% include 'characters/tab-item.html' with characters=templarios tab='templarios' %}
      {% include 'characters/tab-item.html' with characters=legionarios tab='legionarios' %}
      {% include 'characters/tab-item.html' with characters=inities tab='inities' %}
    </div>
  </div>
</div>
{% endblock content %}

{% block css %}
<style>
  .characters-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: .5em;
    padding-left: 0;
    margin-bottom: 0;
  }

  .characters-item {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
  }

  .badge-top {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
  }

</style>
{% endblock %}