{% extends 'base.html' %}

{% block content %}
<div class="row m-4 pt-4">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
         aria-controls="v-pills-home" aria-selected="true">Lider y LTs</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
         aria-controls="v-pills-profile" aria-selected="false">Demon Hunters</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
         aria-controls="v-pills-messages" aria-selected="false">Knights</a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
         aria-controls="v-pills-settings" aria-selected="false">Templarios</a>
      <a class="nav-link" id="v-pills-legionario-tab" data-toggle="pill" href="#v-pills-legionario" role="tab"
         aria-controls="v-pills-legionario" aria-selected="false">Legionarios</a>
      <a class="nav-link" id="v-pills-initie-tab" data-toggle="pill" href="#v-pills-initie" role="tab"
         aria-controls="v-pills-initie" aria-selected="false">Inities</a>
    </div>
    {% if request.user.is_staff %}
    <a href="{% url 'Character:create' %}" class="btn btn-primary mt-4 w-100">Nuevo</a>
    {% endif %}

  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      {% include 'characters/tab-item.html' with characters=lideres tab='home' status='active' %}
      {% include 'characters/tab-item.html' with characters=demonhunters tab='profile' %}
      {% include 'characters/tab-item.html' with characters=knights tab='messages' %}
      {% include 'characters/tab-item.html' with characters=templarios tab='settings' %}
      {% include 'characters/tab-item.html' with characters=legionarios tab='legionario' %}
      {% include 'characters/tab-item.html' with characters=inities tab='initie' %}
    </div>
  </div>
</div>
{% endblock content %}

{% block css %}
<style>
  .characters-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: .5em;
    padding-left: 0;
    margin-bottom: 0;
  }

  .characters-item {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
  }

  .badge-top {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
  }

</style>
{% endblock %}