[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
django-extensions = "*"
django-debug-toolbar = "*"

[packages]
django = "*"
rest-framework = "*"
pillow = "*"
django-crispy-forms = "*"

[requires]
python_version = "3.7"
