[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
django-extensions = "*"
django-debug-toolbar = "*"

[packages]
django = "*"
pillow = "*"
django-crispy-forms = "*"
django-ckeditor = "*"
beautifulsoup4 = "*"
requests = "*"
django-admin-index = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-import-export = "*"

[requires]
python_version = "3.7"
