{% extends 'base.html' %}
{% block title %}
Orden del Fénix - {{ award.name }}
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row  pt-2">
    <div class="col">
      <h4 class="text-center m-auto">{{ award.name }}</h4>
      <hr>
      <h5 class="text-center m-auto mb-4">Categorías Disponibles</h5>
      <br><br>
      <div class="row row-cols-1 row-cols-md-3">
        {% for category in award.categories.all %}
        {% if category.status %}
        <div class="col mb-4">
          <div class="card border-secondary h-100">
            <div class="card-header">{{category.name}}
                                     {% if category.votes.all and request.user.votes.all %}
              <span class="badge badge-success">Ya votaste</span>
                                     {% endif %}
            </div>
            <div class="card-body text-secondary">
              <p class="card-text">{{category.description}}</p>
              <a href="{% url 'Award:category-detail' award.slug category.slug %}" class="btn btn-primary">Nominados</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block app_breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'Award:list' %}">Premios</a></li>
{% endblock %}
{% block detail_breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">{{ award }}</li>
{% endblock %}

{% block css %}

<style>
  .card-body.text-secondary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>

{% endblock %}