{% extends 'base.html' %}

{% block title %}
  Orden del Fénix - Premios
{% endblock %}

{% block content %}
  <div class="row m-3">
    <ul class="list-group list-group-flush">
      {% for award in awards %}
        <li class="list-group-item"><a href="{% url 'Award:detail' award.slug %}">{{ award }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}


{% block app_breadcrumb %}
{% endblock %}
{% block detail_breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Premios</li>
{% endblock %}