{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{{ category.name }} - {{ category.award.name }}
{% endblock %}

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}


{% block content %}
<div class="container-fluid">
  <div class="row  pt-2">
    <div class="col">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="{% url 'Award:detail' category.award.slug %}" aria-label="Previous">
              <span aria-hidden="true">&laquo; {{ category.award }}</span>
            </a>
          </li>
        </ul>
      </nav>
      <h4 class="text-center m-auto">{{ category.name }} - {{ category.award }}</h4>
      <hr>
      <h5 class="text-center m-auto mb-4">Participantes</h5>
      <br><br>
      <div class="row row-cols-1 row-cols-md-3">
        {% for category in award.categories.all %}
        {% if category.status %}
        <div class="col mb-4">
          <div class="card border-secondary h-100">
            <div class="card-header">{{category.name}}</div>
            <div class="card-body text-secondary">
              <p class="card-text">{{category.description}}</p>
              <a href="#" class="btn btn-primary">Votar</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <ul class="list-group">
        {% for user in category.participants.all|dictsort:'nick' %}
        <li class="list-group-item">{{user.nick}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% if not voting and user.is_authenticated%}
  <div class="row">
    <div class="col">
      <h5 class="text-center m-auto mb-5">Selecciona {{ category.max_options }} opciones</h5>
      <form action="" method="POST" class="uniForm">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success mt-5">Success</button>
      </form>
    </div>
  </div>
  {% elif user.is_authenticated %}
  <div class="row">
    <div class="col">
      <h5 class="text-center m-auto mb-5">Votaste por:</h5>
      <ul>
        {% for option in options %}
        <li>{{ option.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col">
      <h5 class="text-center m-auto mb-5">Para votar debes estar autenticado</h5>
      <p class="mt-3">Para solicitar un usuario puedes ponerte en contacto con Julio, Majo o Vale</p>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}


{% block js %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function () {
    $('#id_selected_options').select2({
      width: "100%",
      maximumSelectionLength: "{{ category.max_options }}"
    });
  });
</script>
{% endblock %}